@import 'src/_styles/colors.scss';

body {
  margin: 0;
}

#light {
  background-color: white;
}

#dark {
  background-color: black;
}

.inherit-a {
  color: inherit;
  text-decoration: none;
}

.inline {
  display: inline-block;
}